altgraph==0.17.5
colorama==0.4.6
coverage==7.13.5
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.0
pefile==2024.8.26
pluggy==1.6.0
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pyright==1.1.408
pytest==9.0.2
pytest-cov==7.1.0
pywin32-ctypes==0.2.3
setuptools==82.0.1
typing_extensions==4.15.0
uv==0.11.0
